:root{
    --background_color_1:#D3D3D3;
    --background_color_2:#2C5D3F;
    --background_color_3:#759B84;
    --background_color_4:#d6e1d8;	
    --text_color_1:white;
    --text_color_2:#A9A9A9;
    	
}

*{
    padding:0px;
    margin:0px;
}

body{
    background-color: var(--background_color_1);
}

.main_body{
    height:35px;
}



.background_img{
    background-image: url('/images/image-hero-desktop.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 50%;
    background-repeat: no-repeat;
    height:1250%;
}

.logo_1{
    color:var(--text_color_1);
    margin-left: 5%;
    text-shadow: black 5px 5px 10px;
    padding-top: 20px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.menu_list{
    display: flex;
    float: right;
    list-style: none;
    flex-wrap:wrap;
    flex-flow: row;
    gap: 12px;
    margin-right: 9%;
    
}

.content{
    text-decoration: none;
    color: var(--text_color_1);
    text-shadow: black 5px 5px 10px;
}